<!DOCTYPE html>
<html>
  <head>
    <title>EverQuoteTest</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.0.0/lodash.min.js"></script> -->
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %> text-center error-explanation columns">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>
    <script src="js/main.js"></script>

  </body>
</html>
